$color-pink: #db3069;
$color-blue: #1446a0;
$color-light-blue: #5bc0eb;
$color-pale-blue: #e3f4fc;
$color-dark-grey: #696761;
$color-light-grey: #a2a2a0;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #e1e8ed;
$color-border-light: rgba(0, 0, 0, 0.15);
$color-soft-grey: #cacacc;
$color-box-shadow: rgba(0, 0, 0, .05);
